//variaveis, mixins e etc...

$font-text: 'Yanone Kaffeesatz', sans-serif;
$tela-perc: 100%;
$vermelho-terra: #B92D00;

@mixin display-flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}