.cover-text {
    position: absolute;
    z-index: 4;
    color: #FFFFFF;
    @include display-flex(column, center, center);
    width: $tela-perc;
    height: 80%;
    
    .cover-title {
        font-size: 50pt;
        text-transform: uppercase;
    }
    
    .cover-options {
        width: 60%;
        height: 60%;
        @include display-flex(row, space-around, center);
        
        .cover-item-calc {
            transition: transform 2s, display 1s;
            width: 24%;
            position: relative;
            @include display-flex(column, center, center);
            text-transform: uppercase;
            
            &:hover {
                cursor: pointer;
            }
            
            h3 {
                position: absolute;
                z-index: 44;
                bottom: 5%;
            }
            
            img {
                transition: display 2s;
                z-index: 2;
                width: $tela-perc;
            }
        }
    }
}