.option{
    width: 100%;
    height: 100%;
    @include display-flex(column, center, center);
    position: absolute;

    .options-all{
        transition:  opacity 2s;
        border-radius: 10px;
        opacity: 0;
        background-color: $background-calculator;
        position: relative;
        z-index: 3;
        height: 70%;
        width: 55%;
        color: white;
    
        .options-icons{
            @include display-flex(row, flex-start, center);
            width: 20%;
    
            .options-bottons {
                position: relative;
                margin-top: 10%;
                left: 10%;
    
                img {
                    width: 70%;
                    padding-bottom: 10%;
                }
                
                &:hover {   
                    cursor: pointer;
                }
            }
        }
    
    
        .options-options {
            @include display-flex(row, space-around, center);
            height: 50vh;
        }
    
        .options-input {
            position: relative;
            @include display-flex(column, space-around, center);
            width: 40%;
            height: 50vh;
    
            p, input, button {
                margin: 5%;
            }
    
            input {
                width: 30%;
                background-color: $background-calculator;
                border: solid $vermelho-terra 2px;
                color: white;
                font-family: $font-text;
                font-size: 11pt;
                text-align: center;
            }
    
            .calculate {
                text-transform: uppercase;
                padding: 5%;
                background-color: $vermelho-terra;
                border: none;
                color: white;
                font-family: $font-text;
                font-size: 12pt;
                letter-spacing: 4px;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    
        .options-answer {
            @extend .options-input;
            width: 40%;
            height: 50vh;
            p {
                margin: 5%;
            }
        }
    
        .options-title {
            text-transform: uppercase;
            color: white;
            @include display-flex(column, center, center);
            margin: 0;
        }
    
        img{
            position: relative;
            width: 3%;
            padding: 0.5%;
        }
    }
}