@media screen and (max-width: 425px) {
    .cover-text{
        .cover-title{
            font-size: 27pt;
        }

        .cover-options {
            width: 100%;
            height: auto;
        }
        h3 {
            margin: 0 0 8% 0;
            font-size: 12pt;
        }
    }
    
    .option {
        #size {
            width: 80%;
            height: 55%;
            border-radius: 10px;
        }
        
        p{
            text-align: center;
            font-size: 9pt;
        }
        .option-answer {
            width: 40%;
        }
        .option-all {
            .options-icons{
                .options-bottons {
                    img { 
                        width: 100%;
                    }
                }
                #size-icons{
                    width: 40%;  
                }
                .options-icons {
                    width: 40%;
                }
            }
        }
    }
}
