@media screen and (min-width: 426px) and (max-width: 768px) {
    .cover-text{
        .cover-title{
            font-size: 27pt;
        }

        .cover-options {
            width: 100%;
            height: auto;
        }

        .cover-item-calc {
            img{
                width: 50%;
            }
        }

        h3 {
            margin: 0 0 8% 0;
            font-size: 12pt;
        }
    }
    p{
        text-align: center;
        font-size: 9pt;
    }
}